<div class="wrapper">
  <div class="inside">
    <h1>クエスチョンブログ！</h1>
    <p>
      無料でかけるブログサービスです。
      <br>日々気になったことや疑問に思ったことを書いてみましょう。
      <br>きっと新しい発見に繋がります。
    </p>
    <br>
    <%= link_to 'ブログを投稿する', new_blog_path, class:'btn btn-info' %>
  </div>
</div>